:root {
  --font-family: "Sora";
  --font-weight-regular: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-size-h1: 3.4em;
  --font-size-h2: 2.4em;
  --font-size-h3: 1.6em;
  --font-size-h4: 1.4em;
  --font-size-h5: 1.2em;
  --font-size-h6: 1em;
  --font-size-p: 1em;
  --line-height: 1.5;
  --center-align: center;
  --color-brand: #00cec9; // 0abde3 or 00cec9
  --color-accent: #2d3436;
  --color-text: #ffffff;
  --color-background: #636e72;
  --color-call-to-action: #0984e3;
  --spacing-extra-tight: 0.1rem;
  --spacing-tight: 0.2rem;
  --spacing-normal: 0.4rem;
  --spacing-loose: 0.6rem;
  --spacing-extra-loose: 0.8rem;
  --hero-height: 75vh;
}

html {
  body {
    margin: 0;
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-p);
    line-height: var(--line-height);
    h1 {
      font-size: var(--font-size-h1);
      font-weight: var(--font-weight-bold);
      margin: 1rem 0;
      &.center-align {
        text-align: var(--center-align);
      }
    }
    p {
      font-size: var(--font-size-p);
      font-weight: var(--font-weight-regular);
      &.center-align {
        text-align: var(--center-align);
      }
    }
    .section__hero {
      min-height: var(--hero-height);
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: url("./images/Hero.svg") no-repeat center bottom;
      background-size: cover;
      color: var(--color-text);
      .section__wrapper {
        width: 640px;
        max-width: 80%;
      }
    }
    button {
      cursor: pointer;
      font-family: var(--font-family);
      font-weight: var(--font-weight-regular);
      font-size: var(--font-size-p);
      display: flex;
      border-radius: 1.2rem;
      padding: 0.6rem 1.2rem;
      &.primary {
        background-color: var(--color-brand);
        color: var(--color-text);
        border: none;
        .icon {
          svg {
            fill: var(--color-text);
          }
        }
      }
      &.secondary {
        background-color: transparent;
        color: var(--color-brand);
        border: 1px solid var(--color-brand);
        .icon {
          svg {
            fill: var(--color-brand);
          }
        }
      }
      .icon {
        margin-left: 5px;
      }
    }
    .icon {
      display: inline-block;
      height: 1.25rem;
      width: 1.25rem;
      max-height: 100%;
      max-width: 100%;
      margin: auto;
    }
    .stack {
      display: flex;
      align-items: center;
      justify-content: center;
      &.vertical {
        flex-direction: column;
      }
      &.horizontal {
        flex-direction: row;
      }
      .none {
        margin: 0;
      }
      .extraTight {
        margin: var(--spacing-extra-tight);
      }
      .tight {
        margin: var(--spacing-tight);
      }
      .normal {
        margin: var(--spacing-normal);
      }
      .loose {
        margin: var(--spacing-loose);
      }
      .extraLoose {
        margin: var(--spacing-extra-loose);
      }
    }
  }
}

$breakpoint-xs: 320px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;

@media (max-width: $breakpoint-sm) {
  .stack.horizontal {
    flex-direction: column !important;
  }
}

@media (max-width: $breakpoint-md) {
}

@media (max-width: $breakpoint-lg) {
}