:root {
  --font-family: "Sora";
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

html {
  font-family: var(--font-family);
  h1 {
    font-weight: var(--font-weight-bold);
  }
}
