:root {
  // Font family
  --font-heading: "Sora";
  --font-paragraph: "Sora";

  // Font weights
  --font-weight-regular: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  // Font sizes
  --font-size-h1: 2.8rem;
  --font-size-h2: 1.8rem;
  --font-size-h3: 1.4rem;
  --font-size-h4: 1.2rem;
  --font-size-p: 1rem;

  // Line height
  --line-height: 1.5;

  // Palette
  --color-brand: #00cec9;
  --color-accent: #004356;
  --color-text: #000000;
  --color-background: #636e72;

  // Spacing
  --spacing-extra-tight: 0.1rem;
  --spacing-tight: 0.2rem;
  --spacing-normal: 0.4rem;
  --spacing-loose: 0.6rem;
  --spacing-extra-loose: 0.8rem;

  // Hero
  --hero-height: 75vh;
  --center-align: center;
}

html {
  body {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height);
    h1 {
      font-size: var(--font-size-h1);
      font-weight: var(--font-weight-bold);
      margin: var(--spacing-extra-loose) 0;
    }
    h2 {
      font-size: var(--font-size-h2);
      font-weight: var(--font-weight-bold);
      margin: var(--spacing-extra-loose) 0;
    }
    h3 {
      font-size: var(--font-size-h3);
      font-weight: var(--font-weight-bold);
      margin: var(--spacing-extra-loose) 0;
    }
    p {
      font-family: var(--font-paragraph);
      font-size: var(--font-size-p);
      font-weight: var(--font-weight-regular);
    }
    span {
      color: var(--color-brand);
    }

    // Navigation
    nav {
      position: absolute;
      width: 100%;
      ul {
        li {
          margin: var(--spacing-extra-loose);
          a {
            &:hover {
              color: var(--color-brand);
            }
          }
        }
      }
    }

    // Button component
    button {
      cursor: pointer;
      font-family: var(--font-heading);
      font-weight: var(--font-weight-regular);
      font-size: var(--font-size-p);
      display: flex;
      border-radius: 1.2rem;
      padding: 0.6rem 1.2rem;
      width: fit-content;
      &.primary {
        background-color: var(--color-brand);
      }
      &.secondary {
        background-color: transparent;
        color: var(--color-brand);
        border: 1px solid var(--color-brand);
      }
      &.plain {
        background-color: transparent;
        border: none;
        &:hover {
          color: var(--color-brand);
        }
      }
      .icon {
        margin-left: 5px;
      }
    }

    // Icon component
    .icon {
      display: inline-block;
      height: 1.25rem;
      width: 1.25rem;
      max-height: 100%;
      max-width: 100%;
      margin: auto;
    }
  }
}

// Breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;

@media (max-width: $breakpoint-sm) {
  .stack.horizontal {
    flex-direction: column !important;
  }
}

@media (max-width: $breakpoint-md) {
}

@media (max-width: $breakpoint-lg) {
}
